.cfPageHead {
  display: flex;
  align-items: center;
  padding: 0 6px;
  margin-block-end: 16px;

  h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.flexAuto {
  flex: auto;
}

.cfPageExtra {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.cfPageAside {
  padding: 0 6px;
  margin-block-end: 16px;
  color: gray;
}

.cfPageBody {
  padding: 24px;
  border-radius: 6px;
  background-color: var(--color-back-container, #ffffff);
}
