* {
  padding: 0;
  box-sizing: border-box;
}
:not(p, ul) {
  margin: 0;
}
:root {
  body {
    margin: 0;
    margin-block-start: 48px;
    margin-inline-start: 256px;
  }

  &[no-aside] {
    body {
      margin-inline-start: 0;
    }
  }
}
