* {
  box-sizing: border-box;
}
:not(ul, ol, dl) {
  padding: 0;
}
:not(p, ul, ol, dl) {
  margin: 0;
}
:root {
  body {
    margin: 0;
    margin-block-start: 48px;
    margin-inline-start: 256px;
    width: calc(100vw - 256px);
    height: auto;
  }

  &[no-aside] {
    body {
      margin-inline-start: 0;
    }
  }
}
